<ion-header>
  <ion-toolbar>
    <ion-title slot="start" >Perfil</ion-title>
    <ion-button color="warning" slot="end" routerLink="/login"><ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="usuario" >
  <ion-list> 
    <ion-label>Rut : {{usuario.rut}} <p></p> </ion-label> 

    <ion-label>Nombre: : {{usuario.nom_completo}} <p></p> </ion-label>

    <ion-label>Correo institucional : {{usuario.correo}} <p></p> </ion-label>

    <ion-label>Fecha de nacimiento : {{usuario.fecha_nac}}<p></p> </ion-label>
    
    <ion-label>Semestre : {{usuario.semestre}} <p></p></ion-label>

    <ion-label>Tipo de usuario : {{usuario.tipo_usuario}} <p></p> </ion-label>
  </ion-list>
      
</ion-content>
